In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('Mall_Customers.csv')
df.head(3)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6

In [7]:
x = df.iloc[:, [3, 4]].values

#### Using Dendrogram

In [ ]:
import scipy.cluster.hierarchy as sch
sch